.country{
        padding: 50px;
}
.retour{
    margin-bottom: 30px;
    display: inline-block;
    cursor: pointer;
    background-color: rgb(211, 236, 117);
    font-weight: bold;
}
.suite-country{
    background-color: rgb(198, 214, 109);
    padding: 20px 20px;
}
.country article .suite-country div{
        margin: 20px 0;
}
.country article .suite-country div h1{
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 1px;
}
.country article .suite-country div h5{
    font-weight: 500;
    margin: 5px 0;
    font-size: 16px;

}
.country article .suite-country div h5 span{
    font-weight: 200;
    letter-spacing: 1px;


}